@model IEnumerable<Vidly.Models.Customer>

@Html.ActionLink("Create", "Create")

<table class="table" id="customers">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.MembershipType.MembershipName)
        </th>

        <th>Delete</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
            </td>
            <td>
                @item.MembershipType.MembershipName
            </td>
            <td>
                <button data-customer-id="@item.Id" class="btn-link js-delete">Delete</button>
            </td>

        </tr>
    }

</table>

@section scripts
{
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $("#customers").DataTable();
            $("#customers ").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    if (confirm("Are you sure you want to delete this customer?")) {
                        $.ajax({
                            url: "/api/customers/" + $(this).attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }

                });
        });
    </script>
}
