@using Vidly.Models
@model Vidly.ViewModels.MovieGenreViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Genre> genres = Model.Genres;
}

<h2>@Html.DisplayFor(m=>m.Title)</h2>

@using (Html.BeginForm("Create", "Movies", FormMethod.Post))
{
    @Html.ValidationSummary(true, "Please fix following issues")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div><div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:dd-MMM-yyyy}", new { @class = "form-control releaseDate", @id = "",@autocomplete="off" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div><div class="form-group">
        @Html.LabelFor(m => m.DateAdded)
        @Html.TextBoxFor(m => m.DateAdded, "{0:dd-MMM-yyyy}", new { @class = "form-control releaseDate", id = "", autocomplete="off" })
        @Html.ValidationMessageFor(m => m.DateAdded)
    </div><div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(genres, "Id", "GenreName"), "--Select a genre--", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div><div class="form-group">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control", @type = "number" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-primary" />
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".releaseDate").datepicker({
                dateFormat: "mm / dd / yy",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>

}
